img{
    width: 150px;
    height: auto;
}
#address{
    display: flex;
    /* border: 2px solid red; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.address-container{
    display: flex;
    flex-direction: column;
}

